# ignore all IDE configs
*/.idea/
.idea

# ignore all logs
dummylogs

# ignore all virtualenvs, pycache files
venv38
*/__pycache__

# don't keep any figures we output
process/figures
process/data/
process/raccoon_data/
predictions.*

# maybe don't store data in Github for now, use Drive instead
data/obj
data/*.weights
data/*.jpg
data/*.h264
data/*.mp4

# discard any darknet logs
*/bad.list
bad.list

# discard any temp blender files
*.blend1
